<section class='gifs'>
  <div class="definition-wrapper">
    <!-- <h3 class='section__defined'>{{{doc.definedBy}}}</h3> -->
    <h2 class='section__hed'>{{{doc.gifsTitle}}}</h2>
  </div>
  <h4 class='section__by'>{{{doc.gifsBy}}}</h2>

  {{#each doc.gifsIntro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <div class='summary summary-gifs'>
    <p class='must__title'>{{{doc.artistsMust}}}</p>
    <ul class='must__req'>
      {{#each doc.gifsReq}}
        <li>{{{this}}}</li>
      {{/each}}
    </ul>

    <p class='calculation__title'>{{{doc.calcTitle}}}</p>
    <ul class='calculation__steps'>
      {{#each doc.gifsCalc}}
        <li>{{{this}}}</li>
      {{/each}}
    </ul>
    <figure class='chart chart-gifs'></figure>

    {{#each doc.gifsNotes}}
      <p class='notes'>{{{value}}}
    {{/each}}
  </div>
</section>
